<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <%= render 'layouts/shim' %>
</head>
<body>
<div id="googlemaps"></div>
	<%= render 'layouts/header' %>
	



	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<script type="text/javascript">
	var position = [51.5072, 0.1275];

	function showGoogleMaps() {
		var latLng = new google.maps.LatLng(position[0], position[1]);

		var mapOptions = {
			zoom: 14,
			streetViewControl: false,
			scaleControl: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			center: latLng
		};

		map = new google.maps.Map(document.getElementById('googlemaps'),
			mapOptions);

		marker  = new google.maps.Marker({
			position: latLng,
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP
		});
	}

	google.maps.event.addDomListener(window, 'load', showGoogleMaps);

	</script>

	<div class="container main-content" style="position:relative">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>	

</body>
</html>
